:root {
	--bg-1: #060B0B;
	--bg-2: #0C1516;
	--bg-3: #121F21;
	--bg-4: #182A2C;
	--bg-5: #525F61;
	--bg-6: #8B9595;
	--bg-7: #C5CACA;
	
	--lg-1: #393A3B;
	--lg-2: #717575;
	--lg-3: #AAAFB0;
	--lg-4: #E3EAEB;
	--lg-5: #E6EDED;
	--lg-6: #F1F4F5;
	--lg-7: #F8FAFA;

	--mc-1: #000E17;
	--mc-2: #001D2E;
	--mc-3: #002B46;
	--mc-4: #003A5D;
	--mc-5: #406B85;
	--mc-6: #809DAE;
	--mc-7: #BFCED6;

	--mc-1-op: #001d2ebd;
	
	--sc-1: #1B2110;
	--sc-2: #364320;
	--sc-3: #506430;
	--sc-4: #6B8540;
	--sc-5: #90A470;
	--sc-6: #B5C2A0;
	--sc-7: #DAE1CF;
	--sc-3-op: #506430b7;

	--bgop-6: #302b268e;
}

